
<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
         <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title>Herbonomics</title>
    </head>
    <body>
        <h2>{{ dispensary.getName }} Account</h2>
        <a href="/dispensary/{{ dispensary.getId }}/edit_account_info">Edit</a>
        <h3>Here are your existing demands:</h3>

        <table border = "1" cellpadding = "15">
            <tr>
                <th>Strain</th>
                <th>Phenotype</th>
                <th>Quantity</th>
                <th>Dispensary</th>
                <th>Edit</th>
            </tr>
            {% if demands is not empty %}
                {% for demand in demands %}
                <tr>
                    <td>
                        {{ demand.getStrainName }}
                    </td>
                    <td>
                        {{ demand.getPheno }}
                    </td>
                    <td>
                        {{ demand.getQuantity }}lbs
                    </td>
                    <td>
                        {{ demand.findDispensaryName(demand.getDispensaryId) }}
                    </td>
                    <td>
                        <a href="/dispensary_demand/{{ demand.getId }}/edit"><img style="height: 2em;" class="glyph" src="/img/glyph_edit.png" alt="" /></a> <a href="/demand/{{ demand.getId }}/delete"><img class="glyph" style="height: 2em;" src="/img/glyph_delete.png" alt="" /></a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan = "7">
                     No Strains Available
                </td>
            </tr>
            {% endif %}
        </table>


        <h3>Add a new demand:</h3>
        <form class="" action="/dispensary/demand_add" method="post">
            <input name="dispensary_id" type="hidden" value="{{ dispensary.getId }}">
            <label>Strain Name</label>
            <input type="text" name="strain_name">
            <label>Phenotype</label>
            <select class="" name="pheno">
                <option value="Sativa">Sativa</option>
                <option value="Indica">Indica</option>
                <option value="Hybrid">Hybrid</option>
            </select>
            <label>Quantity</label>
            <input type="number" name="quantity">
          <button type="submit" name="button">Add this Demand</button>
        </form>
        <br>
        <a href="/dispensary_demands">Browse Dispensary Demands</a><br>
        <a href="/grower_supply">Browse Grower Supply</a><br>
        <a href="/">Home</a>

    </body>
    
</html>

<!--The grower's account page allows the user to have CRUD capability for their demands and their bio. When they sign in they should be taken here. :)-->
