<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dispensary Demand</title>
    </head>
    <body>
        <h3>Dispensary Demand:</h3>

        <!-- <form class="" action="/dispensary_demand/{{ demand.getId }}/search" method="post">
            <input name="_method" type="hidden" value="">
            <input name="dispensary_id" type="hidden" value="{{ demand.getDispensaryId }}">
            <label>New Strain Name</label>
            <input type="text" name="strain_name" value="{{ demand.getStrainName }}">
          <button type="submit" name="button">Edit</button>
        </form> -->

        {% if demands is not empty %}
        {% for demand in demands %}
        <h4>Strain Name: {{ demand.getStrainName }}</h4>
        <p>Phenotype: {{ demand.getPheno }}</p>
        <p>Quantity: {{ demand.getQuantity }}</p>
        {% endfor %}
        {% else %}
        <p>
            No demands meet your criteria.
        </p>
        {% endif %}
    </body>
</html>
