<!--The grower's account page allows the user to have CRUD capability for their strains and their bio. When they sign in they should be taken here. :)-->

<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/styles.css'>
   <title>Grower Account</title>
</head>
    <body>
      <div class='container'>
        <h1>{{ grower.getName }}</h1>
        <p> Website: {{ grower.getWebsite }}</p>
         <p> Email: {{ grower.getEmail }}</p>
         <p> Username: {{ grower.getUsername}}</p>
         <p> Password: {{ grower.getPassword }}</p>
         <p?> Account Id: {{ grower.getId }}</p>

         <form action="/grower/{{ grower.getId }}/edit_account_info" method="get">
              <button type="submit">Edit Account Details</button>
            </form>

            <form action="/grower/{{ grower.getId }}/add_strain" method="get">
                 <button type="submit">Add a Strain</button>
               </form>


               {% include '/includes/dispensary_demands.html.twig' %}<br>
               {% include '/includes/grower_supply.html.twig' %}<br>
               {% include '/includes/home_form.html.twig' %}

        <!-- <p><a href='/'>Home</a></p> -->
    </div>
</body>
</html>
